{
  "presets": [
    // [
    //   "@babel/env",
    //   {
    //     "modules": false,
    //     "corejs": "3",
    //     "useBuiltIns": "entry"
    //   }
    // ],
    // "@babel/react",
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "inline-react-svg",
    "@loadable/babel-plugin",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-json-strings"
  ]
}
