/* $shine-color: #e8e8e8;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;
 */
.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-opera .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar, .root-opera .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar, .root-opera .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

/* FlexBox Variables */
.flex {
  display: flex; }
  .flex.row {
    flex-direction: row; }
  .flex.column {
    flex-direction: column; }
  .flex.jc-center {
    justify-content: center; }
  .flex.ai-center {
    align-items: center; }
  .flex.ai-start {
    align-items: flex-start; }
  .flex.ai-end {
    align-items: flex-end; }

.resume {
  overflow: hidden;
  width: 100%;
  min-height: 200px; }

.resume-back {
  padding: 8px 0; }

.resume-container {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1280px;
  /* height: 430px; */
  height: 720px; }
  .resume-container.isLive {
    height: 285px; }
    .resume-container.isLive .resume-data-container {
      height: 320px; }
  .resume-container .img-channel-resume {
    position: absolute;
    height: 100px;
    right: 0;
    top: 20px; }

.resume-data-container {
  width: calc(100% - 30px);
  position: absolute;
  padding-left: 30px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* top: 120px; */
  height: 400px;
  margin: auto; }
  .resume-data-container.live {
    align-items: flex-start !important;
    padding-left: 20px; }
    .resume-data-container.live .resume-data-large {
      max-width: 65%;
      /* h4 {
        font-size: 46px;
        font-weight: bold;
      } */ }
  .resume-data-container h4,
  .resume-data-container h6 {
    color: white; }

.resume-data {
  float: left;
  height: 220px;
  max-width: 60%;
  width: calc(60% + 286px); }

.resume-data-large {
  float: left;
  margin-top: 20px; }
  .resume-data-large .resume-description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 300 !important;
    text-align: left; }
    .resume-data-large .resume-description p {
      margin: 0; }
  .resume-data-large .resume-tag,
  .resume-data-large .tag-netflex {
    font-size: 80%; }

/* .resume-promo {
  box-sizing: border-box;
  float: left;
  height: 136px;
  width: $boxes-width;
}

.resume-info {
  box-sizing: border-box;
}

.resume-promo img {
  display: block;
  width: 100%;
}

.resume-media {
  float: left;
  width: 25%;
}

.resume-media img {
  display: block;
  width: 100%;
} */
.resume-title {
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  margin: 0 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.resume-title.title-short {
  width: calc(100% - 286px); }

.resume-title.title-short ~ .resume-promo, .resume-title.title-short ~ .resume-purchase-buttons, .resume-title.title-short ~ .resume-preview, .resume-preview .resume-title.title-short ~ .resume-music-container, .resume-title.title-short ~ .resume-preview-fullwidth, .resume-preview-fullwidth .resume-title.title-short ~ .resume-music-container {
  position: relative;
  top: -50px; }

.resume-tag {
  background: #47536b;
  border-radius: 3px;
  font-size: 15px;
  font-weight: normal;
  padding: 2px 4px; }

.resume-badge {
  display: inline-block;
  vertical-align: bottom; }
  .resume-badge .icon {
    height: 21px;
    width: auto; }

/* mixin for multiline */
.info-rented p {
  color: #AF9008; }

.resume-description {
  font-weight: 400 !important;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 700px; }

.block-with-text {
  text-align: justify !important;
  overflow: hidden;
  position: relative;
  line-height: 24px;
  max-height: 106px;
  text-align: justify;
  /*margin-right: -1em;*/
  padding-right: 1em;
  margin-top: 0px; }
  .block-with-text:before {
    content: " " attr(data-line) "";
    position: absolute;
    right: 0px;
    bottom: 0px; }
  .block-with-text:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: transparent; }

.purchase-btn-container {
  margin-bottom: 8px; }
  .purchase-btn-container .action {
    display: block;
    text-align: center; }
    .purchase-btn-container .action.large {
      width: auto;
      display: flex;
      padding-left: 17px; }

.resume-purchase-buttons {
  padding: 0 18px; }
  .resume-purchase-buttons .promo-text {
    font-size: 14px;
    margin-top: 15px;
    text-align: center; }
  .resume-purchase-buttons .purchase {
    font-size: 16px;
    margin: 4px 0; }
    .resume-purchase-buttons .purchase .left-text-button {
      text-align: left;
      min-width: 70%;
      max-width: 75%;
      display: inline-block; }
    .resume-purchase-buttons .purchase .right-text-button {
      min-width: 25%;
      max-width: 30%;
      text-align: right;
      float: right; }

.resume-preview, .resume-preview.live {
  min-height: 151px;
  margin-left: 10px;
  margin-top: 5px;
  box-shadow: 2px 3px 7px 0px black; }
  .resume-preview img, .resume-preview.live img {
    height: 96%; }
  .resume-preview .resume-music-container {
    min-height: 151px;
    margin-left: 10px; }
  .resume-preview .preview-progress {
    display: block;
    background: #25a4da;
    height: 4%;
    bottom: 0; }

.resume-preview-fullwidth {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 3px 7px 0px black;
  z-index: 0; }
  .resume-preview-fullwidth img {
    width: 100%; }
  .resume-preview-fullwidth .resume-music-container {
    min-height: 151px;
    margin-left: 10px; }
  .resume-preview-fullwidth .preview-progress {
    display: block;
    background: #25a4da;
    height: 4%;
    bottom: 0; }

.live.resume-preview {
  margin-top: 15px; }
  .live.resume-preview img {
    height: 100%; }
  .live.resume-preview span {
    height: 0%; }

.background-gradient {
  position: absolute;
  background-image: linear-gradient(to top, black 10%, rgba(0, 0, 0, 0.668505) 40%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.background-gradient-2 {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%; }

.epg-resume .resume-data-container {
  width: calc(100% - 30px);
  height: 290px; }
  .epg-resume .resume-data-container .resume-data-large {
    margin-top: 0; }

/* .background-gradient-landing {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0.6685049019607843) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  //background-image:  linear-gradient(50deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.6685049019607843) 50%, rgba(0,0,0,0) 100%);
  top: 0;
  bottom: 0;
  left: -1px;
  right: 0;
} */
/* .gradient-test {
  background: linear-gradient(to top, rgba(00, 255, 255, 0), white, white);
  background-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  overflow: hidden;
}
.margin-text {
  margin: 0;
} */
